.container{
  border:1px solid var(--admin-border);
  padding:8px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap:24px;
  width: 20%;
  min-width: 300px;
}
.title{
  font-size: 18px;
}
.containerInput{
  display: flex;
  flex-direction: column;
  gap:16px;
}

/* INPUT component */
.inputContainer{
  display:flex;
  flex-direction: column;
  gap:8px;
}
.input{
  height:50px;
  border:1px solid var(--admin-border);
}
/* Select component */
.select{
  width:100%;
  height:50px;
  border:1px solid var(--admin-border);
  border-radius:var(--border-radius);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 8px;
  cursor: pointer;
}